* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.linkNavbar {
	text-decoration: none;

	color: white;
}
#header {
	background-color: #37beb0;
	background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
#content-divider {
	height: 0.5rem;
	background: linear-gradient(to left, #f2545b, #37beb0, #fad02c);
}
