* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#main {
	background-color: aquamarine;
	height: 100vh;
	display: flex;
	justify-content: space-around;
}
#header {
	text-align: center;
	padding: 20px;
	height: 100vh;
	background-color: #a8ccc9;
}
#titre {
	text-align: center;
}
/* #pomodoro {
	display: flex;
	justify-content: center;
	align-items: center;
} */
/* #longbreak {
	display: flex;
	justify-content: center;
	align-items: center;
}
#shortbreak {
	display: flex;
	justify-content: center;
	align-items: center;
} */
